SECRET_KEY=
DEBUG=True

USE_TIDB=False

LOCAL_DB_NAME=sjs_portfolio
LOCAL_DB_USER=sjs_portfolio_user
LOCAL_DB_PASSWORD=
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=3306

TIDB_DATABASE=test
TIDB_USER=
TIDB_PASSWORD=
TIDB_HOST=
TIDB_PORT=4000

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=smangajsithole@gmail.com